.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;

    margin: 0 auto;
    padding: 0 2rem;

    cursor: pointer;
}

.button p {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.909rem;
    text-wrap: nowrap;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.content img {
    display: inline-block;
}

.default {
    border-radius: 5rem;
    border: 0.1rem solid var(--primary-orange);

    color: white;
    background-color: var(--primary-orange);
}

.default:hover:not(:disabled) {
    border: 0.1rem solid var(--primary-orange);
    background-color: var(--primary-pink-200);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.solid {
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 5rem;

    color: var(--primary-orange);
    background-color: transparent;
}

.square {
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 1rem;

    background-color: transparent;
}

.solid:hover:not(:disabled),
.square:hover:not(:disabled) {
    background-color: var(--primary-pink-100);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:disabled {
    cursor: default;
}

.default:disabled {
    border: 0.2rem solid var(--secondary-gray-300);
    background-color: var(--secondary-gray-300);
}

/***** Mobile *****/
@media (max-width: 743px) {
    .button {
        height: 4rem;

        font-size: 1.4rem;
        line-height: 1.671rem;
    }
}