.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    max-width: 30.4rem;
    max-height: 4.7rem;

    line-height: 1.7rem;
    text-align: left;
    text-overflow: ellipsis;
    line-clamp: 2;
}