.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;
}

.header h1 {
    color: white;
    min-width: 14.8rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
}

.search-dropdown {
    display: flex;
    align-items: center;

    gap: 1.6rem;
}

@media (max-width: 743px) {
    .search-dropdown {
        gap: 0.8rem;
    }
}