.wrap {
  display: flex;
  flex-direction: column;

  gap: 2.4rem;
}

/** 리스트 제목 **/
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1.6rem;
  border-bottom: 0.1rem solid var(--secondary-black-100);
}

.title button {
  margin: 0;
}

.title p {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.387rem;
}

/** 리스트 **/
.list-wrap {
  display: flex;
  flex-direction: column;

  gap: 1.6rem
}

.list-wrap .amount {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.387rem;
}

/** 테이블 **/
.table-wrap {
  overflow-x: auto;
  border-radius: 0.4rem;
}

.table {
  min-width: 80rem;
  width: 100%;

  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 1rem;

  font-size: 1.4rem;
  line-height: 1.671rem;
  text-align: center;
}

.table thead {
  height: 3.9rem;

  border-bottom: 1.6rem solid var(--secondary-black-400);

  background-color: var(--secondary-black-100);
  font-weight: 500;
}

.table tbody {
  background-color: var(--secondary-black-300);
  font-weight: 400;
}

.table tbody tr:hover {
  background-color: var(--secondary-black-200);
  transition: background-color 0.3s ease;
}

.table tbody tr:not(:last-child) {
  border-bottom: 0.1rem solid var(--secondary-gray-300);
}

.table tbody td {
  height: 6.4rem;
}

/** 데이터 없을 때 **/
.null {
  width: 100%;
  height: 40rem;

  padding: 12rem 0;

  color: var(--secondary-gray-200);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.671rem;
  text-align: center;
}

/***** Tablet *****/
@media (max-width: 1199px) and (min-width: 744px) {

  .table thead tr th:nth-child(1),
  .table tbody tr td:nth-child(1) {
    display: table-cell;
  }

  /* 전체 스크롤바 */
  .table-wrap::-webkit-scrollbar {
    width: 100%;
    height: 1.2rem;
  }

  /* 스크롤바의 트랙 */
  .table-wrap::-webkit-scrollbar-track {
    background: var(--secondary-black-300);
    border-radius: 0.8rem;
  }

  /* 스크롤바 핸들 */
  .table-wrap::-webkit-scrollbar-thumb {
    background: var(--secondary-black-400);
    border: 0.3rem solid var(--secondary-black-300);
    border-radius: 0.8rem;
  }
}

/***** Mobile *****/
@media (max-width: 743px) {
  .title p {
    font-size: 1.6rem;
    line-height: 1.909rem;
    white-space: nowrap;
  }

  .list-wrap .amount {
    font-size: 1.6rem;
    line-height: 1.909rem;
  }

  .title button {
    padding: 1rem;

    font-size: 1.2rem;
  }


  .table thead th:nth-child(1),
  .table tbody td:nth-child(1) {
    display: table-cell;
  }

  /* 전체 스크롤바 */
  .table-wrap::-webkit-scrollbar {
    width: 3.48rem;
    height: 1.2rem;
  }

  /* 스크롤바의 트랙 */
  .table-wrap::-webkit-scrollbar-track {
    background: var(--secondary-black-300);
    border-radius: 0.8rem;
  }

  /* 스크롤바 핸들 */
  .table-wrap::-webkit-scrollbar-thumb {
    background: var(--secondary-black-400);
    border: 0.3rem solid var(--secondary-black-300);
    border-radius: 0.8rem;
  }
}