.warn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 70vh;
  margin: auto;

  gap: 3rem;
}

.warn .icon {
  width: 8rem;
  height: 8rem;
}

.warn .content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.8rem;
}

.warn .title {
  color: var(--error-color);
  font-size: 2.4rem;
  font-weight: 500;
}

.warn .description {
  color: var(--secondary-gray-200);
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 743px) {
  .warn {
    height: 60vh;
  }

  .warn .icon {
    width: 4rem;
    height: 4rem;
  }

  .warn .title {
    font-size: 1.6rem;
  }

  .warn .description {
    font-size: 1.4rem;
  }
}